.login-container {
  background-image: url('pic.jpg');
  background-size: 100% 100%; /* Set background-size to cover entire container */
  background-position: center;
  height: 100vh; /* Set the height of the container to full viewport height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 300px;
  margin: 300px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff; /* Add this line to set the background color */
}

.login-form h2 {
  text-align: center;
}

.login-form form {
  margin-top: 20px;
}

.login-form .form-group {
  margin-bottom: 10px;
}

.login-form label {
  display: block;
  font-weight: bold;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0d8bf1;
}
